*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .navbar-brand, .nav-link{
    font-weight: 700 !important;
    color: white !important;
    font-family: 'Segoe UI', sans-serif;

} */

.container-fluid{
    background-color: black !important;
}

.background{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 112, 560) !important;
}

.background h1{
     color: white;
    font-weight: 700;
    text-align: center;
    padding: 197px;
    font-size: 47px;
    margin-bottom: 10px;
}

.background h2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-top: -193px;
}

.navbar{

    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
        font-weight: 700 !important;
    font-family: 'Segoe UI', sans-serif;
    background-color: black !important;

}

.background button {
        padding: 19px;
    margin-top: 19px;
        background-color: rgb(0, 126, 560);
    border-radius: 7px;
    color: white;
    font-size: 20px;
    margin-left: 43%;
        border: none;
}

.navbar-nav {
    margin-left: auto; 
        cursor: pointer;
        margin-right: 40px;
        font-weight: 500;
        
}

.navbar-brand{
        margin-left: 55px;
}

.background button:hover{
       background: rgb(0, 100, 560)
}

.courses-section{
    min-height: 100vh;
}

.courses-section h1{
    color: black;
    font-weight: 700;
    text-align: center;
        padding: 44px;
            font-size: 32px;
}

.main{
    display: flex;
}