*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .navbar-brand, .nav-link{
    font-weight: 700 !important;
    color: white !important;
    font-family: 'Segoe UI', sans-serif;

} */

.container-fluid{
    background-color: black !important;
}

.background{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 112, 560) !important;
}

.background h1{
     color: white;
    font-weight: 700;
    text-align: center;
    padding: 197px;
    font-size: 47px;
    margin-bottom: 10px;
}

.background h2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-top: -193px;
}

.navbar{

    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
        font-weight: 700 !important;
    font-family: 'Segoe UI', sans-serif;
    background-color: black !important;

}

.background button {
        padding: 19px;
    margin-top: 19px;
        background-color: rgb(0, 126, 560);
    border-radius: 7px;
    color: white;
    font-size: 20px;
    margin-left: 43%;
        border: none;
}

.navbar-nav {
    margin-left: auto; 
        cursor: pointer;
        margin-right: 40px;
        font-weight: 500;
        
}

.navbar-brand{
        margin-left: 55px;
}

.background button:hover{
       background: rgb(0, 112, 220) !important;
}

.courses-section{
    min-height: 100vh;
}

.courses-section h1{
    color: black;
    font-weight: 700;
    text-align: center;
        padding: 44px;
            font-size: 32px;
}

.main{
    display: flex;
}

.boxes{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 0px; 
}


.box1{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        width: 28%;
    margin-top: -491px;
    margin-left: 73px;
    height: 172px;
    position: relative;
}

.box1 i{
    text-align: center;
}

.box1 h1{
    text-align: center;
        font-size: 20px;
}

.box1 h2{
    text-align: center;
        font-size: 16px;
    font-weight: 400;
}

.box1 .icon{
    color: rgb(0, 112, 560);
    text-align: center;
        font-weight: 1000;

    
}

.box3{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 28%;
    margin-top: -491px;
    margin-right: 73px;
    height: 172px;
    position: relative;
}

.box2{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 28%;
    margin-top: -491px;
    margin-right: auto;
    margin-left: auto;
    height: 172px;
    position: relative;
}

.box1 button{
    background-color: white;
    border-color: rgb(0, 112, 560);
    color: rgb(0, 112, 560);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
     text-align: center;
         margin-left: auto;
    border-radius: 6px;
    border-width: thin;
    font-size: 15px;
    margin-right: auto;
    padding: 6px;
    position: relative;
}

.box2 i, .box3 i{
     color: rgb(0, 112, 560);
     display: flex;
  justify-content: center;
    align-items: center;
        font-weight: 1000;
        font-size: 30px;
}

.box2 h2,.box3 h2{
        text-align: center;
        font-size: 20px;
        position: relative;

}

.box2 h3,.box3 h3{
        text-align: center;
        font-size: 16px;
    font-weight: 400;
}

.box2 button, .box3 button{
    background-color: white;
    border-color: rgb(0, 112, 560);
    color: rgb(0, 112, 560);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
     text-align: center;
         margin-left: auto;
    border-radius: 6px;
    border-width: thin;
    font-size: 15px;
    margin-right: auto;
    padding: 6px;
}

.box1 button:hover{
        background-color: rgb(0, 112, 220) !important;
        color: white !important;
    
}

.box1 button:active {
    background-color: rgb(0, 80, 180) !important;
    color: white !important;
}

.box2 button:hover{
        background-color: rgb(0, 112, 220) !important;
        color: white !important;
    
}

.box2 button:active {
    background-color: rgb(0, 80, 180) !important;
    color: white !important;
}

.box3 button:hover{
        background-color: rgb(0, 112, 220) !important;
        color: white !important;
    
}

.box3 button:active {
    background-color: rgb(0, 80, 180) !important;
    color: white !important;
}



.why{
    background-color: rgba(80,80,80,0.03);
    height: 50vh;
    width: 100%;
        margin-top: -244px;
}

.why h1{
    text-align: center;

        font-weight: 700;
    font-size: 30px;
    padding: 20px;
}

.features{
    gap: 80px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
   margin: 50px auto;
   align-items: flex-start;
}

.why .features .feature:nth-of-type(1) i{
    color: #007bff;
    display: block; 
    align-items: center;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
}


.why .features .feature:nth-of-type(2) i{
    color: #007bff;
      flex: 1;
    min-width: 250px;
    max-width: 350px;

}


.why .features .feature:nth-of-type(3) i{
    color: #007bff;
      flex: 1;
    min-width: 250px;
    max-width: 350px;

}

.why .feature h3 {
    font-size: 20px;
    margin: 15px 0 10px 0; 
    color: #333;
}

.why .feature p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    max-width: 200px; 
    margin: 0; 
}
